<br>
<p class="text-center text-muted">(c) Copyringht 2023 Programación de Interfaces SIG</p>
<p class="text-center text-muted">Carrera 8 # 40B - 56</p>
<p class="text-center text-muted">Celular: 300 1234567</p>